#home-body {
  padding: 50px;

  .first-row {
    display: flex;
    justify-content: space-between;

    #home-header {
      width: 100%;
      display: flex;
      flex-direction: column;

      h1 {
        font-size: 70px;
      }

      h2 {
        font-size: 35px;
      }
    }

    img {
      border-radius: 50%;
      width: 300px;
      margin-right: 50px;
    }
  }
}